.artwork {
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 200px;
  height: 200px;
}

.releaseName {
  font-size: 18px;
}

.artistName {
  &:hover {
    opacity: 0.6;
  }
}

.metadataContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
